@import "../../styles/variables.scss";

.select {
  background: white;
  z-index: 10;
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.37);
  border-radius: 10px;
  margin-top: 1px;
  z-index: 10;
  position: absolute;
  padding-right: 290px;
  padding-left: 10px;
}

.uploader {
  background: #e9f1f8;
  border: 1px dashed #0757a0;
  border-radius: 5px;

  input[type="file"] {
    display: none;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    &:first-child {
      color: #525252;
    }

    &:last-child {
      color: #0757a0;
    }
  }
}

.trans-text-input {
  background: radial-gradient(
    158.47% 95.91% at -49.58% 15.24%,
    rgba(255, 255, 255, 0.267) 0%,
    rgba(255, 255, 255, 0.089) 100%
  );
  box-shadow: inset -3.46337px -3.46337px 173.168px rgba(255, 255, 255, 0.02),
    inset 3.46337px 3.46337px 2.77069px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(29.0923px);
  border-radius: 8px;
  border: $border-for-transparent-element;
  .trans-text-main-text-input {
    background: transparent;
    outline: none;
    color: white;
    width: 90%;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
}
