.news-letter-container {
  width: 100%;
  background: white;
  border-radius: 50px;
  @media (min-width: 1000px) {
    width: 68%;
  }
  form {
    .input-container {
      width: 100% !important;
      @media (min-width: 1000px) {
        width: 70% !important;
      }
      input[type="email"] {
        &:focus {
          outline: none;
        }
        font-size: 20px;
        color: black;
      }
    }
    button {
      background: #c20618;
      border-radius: 0px 50px 50px 0px;
      width: 30%;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 189%;
      color: #ffffff;
      opacity: 0.9;
    }
  }
}
