$general-break-point: 843px;
$button-color: #e30319;
$red-text-color: #c20618;
$blue-text-color: #0757a0;
$blue-background-color: #0757a0;
$border-for-transparent-element: 1px solid rgb(145, 144, 144);
