@import "../../../../styles/variables.scss";

#news-letter-container {
  .news-letter-text {
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 104.5%;
    text-align: center;
  }
}
